.about-us {
     height: 288px;

  &__img {
    box-sizing: border-box;
    width: 100%;
    height: 210px;
  }

  &__lecture {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 280px;


    transform: translateY(-50%);
    margin-inline: auto;

  }
  
  &__caption {
    
    display: flex;
    justify-content: space-between;
    padding-block: 24px;
    padding-inline: 21px;
  }

  &__label {
    @extend %h4;
    display: block; 
    margin: 0;
    color: #687480;

  }

  &__date {
    @extend %date-text;
    margin: 0; 
  }

  &__name {
   @extend  %h3;

    margin: 0;
    text-align: center;
    padding-block-end: 20px;
    box-shadow: 0 2px 0 0 #1A5A4C40;
  }
}
