.footer {
  padding-block: 50px 40px;
  padding-inline: 20px;

  @include on-tablet {
    padding-block: 51px 39px;
    padding-inline: 39px;
  }

  @include on-desktop {
    position: relative;
    padding-block: 47px 35px;
    padding-inline: 55px;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include on-tablet {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 30px;
      max-width: 768px;
    }

    @include on-desktop {
      max-width: 1280px;
      grid-template-columns: repeat(12, 1fr);
      column-gap: 30px;
    }
  }

  &__top {
    @include on-tablet {
      grid-column: 1 / 7;
      display: grid;
      grid-template-columns: 1fr 2fr 3fr;
      align-items: flex-start;
    }
  }

  &__logo-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    @include on-tablet {
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
    }

    @include on-desktop {
      grid-column: 1 / 2;
    }
  }

  &__logo {
    @extend %h-2;
  }

  &__social {
    display: flex;
    gap: 16px;

    @include on-tablet {
      padding-top: 62px;
      gap: 32px;
    }

    @include on-desktop {
      gap: 22px;
    }
  }

  &__icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease-in-out;
    transform: translateY(5px);
    cursor: pointer;

    &--facebook {
      background-image: url(/images/footer-media-icon/facebook-letter-logo.png);

      &:hover {
        background-image: url(/images/footer-media-icon/facebook-hover.png);
      }
    }

    &--instagram {
      background-image: url(/images/footer-media-icon/instagram.png);

      &:hover {
        background-image: url(/images/footer-media-icon/instagram-hover.png);
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 14px;

    @include on-tablet {
      display: contents;
    }
  }

  &__schedule {
    @include on-desktop {
      grid-column: 3 / 5;
    }
  }

  &__title {
    @extend %footer-title;

    margin-bottom: 20px;
  }

  &__schedule ul {
    margin: 0;
    padding: 0;
    list-style: none;

    @include on-tablet {
      white-space: nowrap;
    }

    li {
      @extend %footer-schedule;

      display: flex;
      flex-direction: column;

      @include on-tablet {
        flex-direction: row;
        gap: 3px;
      }
    }

    span {
      @extend %footer-contart;
    }
  }

  &__note {
    margin-top: 20px;

    @extend %footer-contart;

    @include on-tablet {
      margin-bottom: 64px;
      max-width: 220px;
    }
  }

  &__contacts {
    @include on-desktop {
      grid-column: 6 / 8;
    }
  }

  &__address-link {
    @extend %footer-contart;

    cursor: pointer;
  }

  &__up {
    display: flex;
    justify-content: end;
    margin: 20px;

    @include on-tablet {
      grid-column: 4 / 7;
      justify-content: flex-end;
      margin: 0;
    }
  }

  &__up-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #1a5a4c;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #1a5a4c;
    background: none;
    text-decoration: none;
    font-size: 1.2rem;
    transition:
      transform 0.3s ease,
      color 0.3s ease;

    &:hover {
      transform: scale(1.2);
      color: #d63f0d;
    }

    @include on-tablet {
      display: none;
    }
  }

  &__border {
    border-top: 1px solid #1a5a4c;
    width: 100%;

    @include on-tablet {
      grid-column: 2 / 6;
    }

    @include on-desktop {
      position: absolute;
      inset: 47px 600px 150px 700px;

      width: 1px;
      height: 260px;
      background-color: #1a5a4c;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    margin-right: 75px;
    padding-top: 40px;
    font-size: 14px;

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        @extend %footer-nav-text;

        display: flex;
        gap: 20px;
        align-items: flex-start;
        margin-bottom: 20px;
      }
    }

    @include on-tablet {
      margin: 0;
      display: grid;
      grid-column: 2 / 6;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      align-items: flex-start;
      text-align: left;
    }

    @include on-desktop {
      grid-column: 8 / 12;
      grid-row: 1;
      padding: 0;
      gap: 32px;
    }
  }

  a {
    text-decoration: none;
    color: inherit;
    transition:
      transform 0.3s ease-in-out,
      color 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
      color: #d63f0d;
    }
  }

  &__bottom {
    display: grid;
    text-align: center;
    font-size: 12px;
    color: #888;
    margin-top: 80px;

    @include on-tablet {
      grid-column: 1 / 7;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }

    @include on-desktop {
      gap: 820px;
    }
  }

  &__copyright {
    @extend %footer-designer;

    margin-bottom: 10px;
    white-space: nowrap;

      &:hover {
     color: #d63f0d;
  }
  }

  &__designer {
    @include on-desktop {
      grid-column: 11 / 12;
      white-space: nowrap;
      align-items: end;

        &:hover {
     color: #d63f0d;
  }
    }
  }
}

.address-phone {
  @extend %footer-contart;

  display: inline-block;
  margin-top: 10px;
  cursor: pointer;

  transform:0.6s ease-in-out,
  color 0.3s ease-in-out;
  
  &:hover {
     color: #d63f0d;
  }
}

.address-faks {
    @extend %footer-contart;

  display: inline-block;
  margin-top: 10px;
  cursor: pointer;

    transform:0.3s ease-in-out,
  color 0.3s ease-in-out;


  &:hover { 
     color: #d63f0d;
  }
}
