.gallery {
  
  box-sizing: border-box;
   padding-top: 100px;
   @include content-padding-inline;

  &__title {
    @extend %h2;
    text-align: center;
    margin: 0;

    
  }
 
  &__container {

   padding-top: 40px;

  }
 
  &__swiper {
    display: block;
    position: relative;

  }
 
  &__swiper-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
 
  .swiper-slide {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
 
  .swiper-pagination {
    position: relative !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
     --swiper-pagination-bottom: 0px;
     margin-top: 20px;

     left: 50%;
     transform: translateX(-50%);
  }
 
  &__grid {
    display: none;
  }
 
  @media (min-width: 768px) {
    &__title {
      padding-inline: 100px;
    }
     
    &__container {
      padding-inline: 40px;
      padding-block: 60px 150px;
    }

     &__swiper-image {

    width: 100%;
    height: 410px;
  }
  }
 
  @media (min-width: 1280px) {
    &__title {
      padding-inline: 120px;
      text-align: start;
    }
     
    &__container {
      padding-inline: 60px;
      padding-block: 80px 180px;
    }
     
    &__swiper {
      display: none;
    }
     
    &__grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto;
      gap: 20px;
      max-width: 1200px;
      margin: 0 auto;
    }
     
    .gallery-image-1 {
      grid-column: 1;
      grid-row: 1;
      height: 100%;
     
    }
     
    .gallery-image-3 {
      grid-column: 1;
      grid-row: 2;
      height: 300px;
    }
     
    .gallery-image-4 {
      grid-column: 2;
      grid-row: 2;
      height: 300px;
    }
     
    .gallery-image-5 {
      grid-column: 1 / -1;
      grid-row: 3;
      height: 250px;
    }
  }
}

// Swiper bullets
.swiper-pagination-bullet {
  background: #333 !important;
  opacity: 0.3 !important;
  width: 9px !important;
  height: 9px !important;
  border-radius: 50% !important;
  margin: 0 !important;
  cursor: pointer !important;
  display: inline-block;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: #1A5A4C !important;
}

.swiper-wrapper {
  height: 410px;
  width: 210px;
}


