.gallery {
  box-sizing: border-box;
  padding-top: 40px;

  @include content-padding-inline;

  @include on-tablet {
    padding-top: 0;
  }

  @include on-desktop {
    padding-block: 200px;
  }

  &__title {
    @extend %h2;

    padding-bottom: 40px;
    text-align: center;
    margin: 0;

    @include on-tablet {
      text-align: start;
      padding-bottom: 48px;
    }
  }

  &__grid {
    display: none;

    @include on-desktop {
      display: grid;
      column-gap: 30px;
      grid-template-columns: repeat(12, 1fr);
      cursor: pointer;
    }

    &--position-1 {
      @include on-desktop {
        grid-column: 1/5;
        width: 370px;
        height: 600px;
        margin-bottom: 30px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &--position-2 {
      @include on-desktop {
        grid-column: 5/13;
        width: 770px;
        height: 600px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &--position-3 {
      @include on-desktop {
        grid-column: 1/9;
        width: 770px;
        height: 360px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &--position-4 {
      @include on-desktop {
        grid-column: 9/12;
        width: 370px;
        height: 360px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__container {
    display: block;

    @include on-desktop {
      display: none;
    }
  }

  &__swiper {
    position: relative;
  }

  &__swiper-slide {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__swiper-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;

    @include on-tablet {
      height: 543px;
    }
  }

  .swiper-pagination {
    position: relative !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);

    --swiper-pagination-bottom: 0;

    @include on-tablet {
      margin-top: 32px;
    }
  }
}

.swiper-wrapper {
  height: 410px;
  width: 210px;

  @include on-tablet {
    height: 543px;
    width: 340px;
  }
}

.swiper-pagination-bullet {
  background: #333 !important;
  opacity: 0.3 !important;
  width: 9px !important;
  height: 9px !important;
  border-radius: 50% !important;
  margin: 0 !important;
  cursor: pointer !important;
  display: inline-block;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: #1a5a4c !important;
}
