.gallery {
  box-sizing: border-box;
  padding-top: 40px;

  @include content-padding-inline;

  @include on-tablet {
    padding-top: 0;
  }

  @include on-desktop {
    max-width: 1280px;
    padding-block: 200px;
  }

  &__title {
    @extend %h-2;

    font-size: 32px;
    margin: 0;

    @include on-tablet {
      @extend %h-2;

      font-size: 48px;
      text-align: start;
      padding-bottom: 48px;
    }
  }

  &__grid {
    display: none;

    @include on-desktop {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 20px;
      cursor: pointer;
    }

    &-item {
      @include on-desktop {
        @include image-hover;
      }

      &--1 {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
        height: 600px;
      }

      &--2 {
        grid-column: 5 / 13;
        grid-row: 1 / 2;
        height: 600px;
      }

      &--3 {
        grid-column: 1 / 9;
        grid-row: 2 / 3;
        height: 360px;

        @include image-hover(1.01, 0.9, 0.5s);
      }

      &--4 {
        grid-column: 9 / 13;
        grid-row: 2 / 3;
        height: 360px;

        @include image-hover(1.03, 0.9, 0.5s);
      }
    }
  }

  &__container {
    display: block;
    padding-top: 40px;

    @include on-tablet {
      padding-top: 48px;
    }
    @include on-desktop {
      display: none;
      padding-top: 56px;
    }
  }

  &__swiper {
    position: relative;
  }

  &__swiper-slide {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__swiper-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;

    @include on-tablet {
      height: 543px;
    }
  }

  .swiper-pagination {
    position: relative !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);

    --swiper-pagination-bottom: 0;

    @include on-tablet {
      margin-top: 32px;
    }
  }
}

// Swiper wrapper
.swiper-wrapper {
  height: 410px;
  width: 210px;

  @include on-tablet {
    height: 543px;
    width: 340px;
  }
}

// Swiper bullets
.swiper-pagination-bullet {
  @include swiper-bullet(#333, 0.3);
}

.swiper-pagination-bullet-active {
  @include swiper-bullet(#1a5a4c, 1);
}
