.header {

  position: relative;
  box-sizing: border-box;
  background-image: url(/images/header-bgi/bgi-header.png);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 

  &__container {
    width: 320px;
    height:300px;
  }


  &__logo {
    position: absolute;
    top: 9px;
    left: 50%;
    transform: translateX(-50%);
    
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #0F0E08;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 100%;
    width: 55px;
    height: 61px;
   }

  }
