  .hero {

    margin-top: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding-inline: 20px;
    
  @include on-tablet {
    grid-column: 1 / 4;
    grid-row: 2;
    align-self: center;
  }

  &__title { 
    @extend %h1;

    margin:0;
    color: $h1-color;
  }

  &__ticket-btn { 
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    border: 1px solid $btn-border;
    width: 280px; 
    height: 50px; 
    align-items: center;
    background: #fff;
  }

  &__btn-text {
    
   @extend %h4;
    text-align: center;
    flex: 1;
    color: $btn-text-color;
  }

   &__arrow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
    background: #20635b;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
    }
  }
} 

