.icon {
  display: flex;
  width: 24px;
  height: 24px;


  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &--menu {
    background-image: url('/images/icons/burger-menu.png');

 
  }

  &--close {
  background-image: url('/images/icons/ri-close-fill.png');
  }
}
