  .menu {
    display: none  !important ;
    font-family: "IBM Plex Sans", sans-serif;
    position: fixed;
    box-sizing: border-box;   
    background-color: $menu-color;
    top: 0;
    left: 0;
    right: 0;
    height:665px;
    width: 100%;
      &.menu--open {
    transform: translateX(0);
  }

  &__container {
    margin-top: 27px;
    padding-inline: 20px;
  }

  &__nav {
    display: flex;
    align-items: flex-start; 
    gap: 28px;
  
    // риска внизу 
    padding-bottom: 24px; 
    border-bottom: 1px solid #fff; 

  }

  &__list {
    width: 100%;
    margin: 0;
    padding: 0;
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: repeat(2, auto);
    list-style: none;
    gap: 28px;

  
   }

   &__link {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
  }
    // Розклад 
  &__schedule {
    margin-top: 24px;
  }

  &__schedule-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 141%;
    color: #fff;
  }

  &__schedule-list {
    padding: 0;
    list-style: none;
  }

  &__schedule-list li,
  &__schedule-note {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  }
 
  &__schedule-list span,
   &__schedule-note span {
    font-weight:400;
    font-size: 14px;
    line-height: 150%;
    color: #fff;
  }
}