.menu {

 
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100%;

  background-color: $menu-color;
  z-index: 2;
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.5s ease, 
  opacity 0.5s ease;

  &:target {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
  }
  
  &__container {
     box-sizing: border-box;
    padding-inline: 20px;
    padding-block: 27px ;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 28px;
    padding-bottom: 24px;
    border-bottom: 1px solid #fff;
  }

  &__list {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    gap: 28px;
  }

  &__link {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-decoration: none;
  }

  &__schedule {
    padding-top: 24px;

  }

  &__schedule-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 141%;
    color: #fff;
  }

  &__schedule-list {
    margin:0;
    padding: 0;
    padding-bottom: 16px;
    padding-top: 20px;
    list-style: none;
  }

  &__schedule-list li,
  &__schedule-note {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #fff;
  }

  &__schedule-days,
  &__schedule-note span {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #fff;
  }
}

 .menu__overlay {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(24, 24, 26, 0.3);
    z-index: 1;
  }
}


#menu:target ~ .menu__overlay {
  opacity: 1;
  pointer-events: auto;
}