 %h1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    color: #000000;
  }

  %h2 {
    @extend %h1;
    font-size: 36px ;
    color: #0F0E08;
  }

  %h3 {
    @extend %h1;

    font-weight: 400;
    font-size: 28px;
    color:#0F0E08;
  }

  %h4 {
    text-transform: uppercase;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #687480;
  }

  %date-text {
    text-transform: uppercase;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color:#1A5A4C;
  }

  %description-text {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color:#4E4E4E;
  }

  %subscribe-text {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #fff;
  }

  %E-mail {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #687480;
  }

  %footer-title {
    @extend %subscribe-text;
    text-align: left;
    font-size: 14px;
    line-height: 141%;
    color: #0F0E08;
  }

  %footer-schedule {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color:#0F0E08;
  } 

  %footer-contart {
     @extend %footer-schedule;

     font-weight: 400;
  }

  %footer__nav-text {
    font-family: "IBM Plex Sans", sans-serif;
     font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0F0E08;
  }

  %footer__designer {
    @extend %footer__nav-text;
    font-weight: 300;
    font-size: 12px;
    line-height: 141%;
   }

