%h-1 {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 100%;
  color: #000;
}

%h-2 {
  @extend %h-1;

  font-size: 36px;
  color: #0f0e08;
}

%h-3 {
  @extend %h-1;

  font-weight: 400;
  font-size: 28px;
  color: #0f0e08;
}

%h-4 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: #687480;
}

%date-text {
  text-transform: uppercase;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #1a5a4c;
}

%description-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #4e4e4e;
}

%subscribe-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #fff;
}

%e-mail {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #687480;
}

%footer-title {
  @extend %subscribe-text;

  text-align: left;
  font-size: 14px;
  line-height: 141%;
  color: #0f0e08;
}

%footer-schedule {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #0f0e08;
}

%footer-contart {
  @extend %footer-schedule;

  font-weight: 400;
}

%footer-nav-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #0f0e08;
}

%footer-designer {
  @extend %footer-nav-text;

  font-weight: 300;
  font-size: 12px;
  line-height: 141%;
}

%schedule-title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 141%;
  color: #fff;
}

%menu-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
}

%header-border-text {
  @extend %e-mail;

  font-weight: 700;
}
