@mixin on-tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: 20px;

  @include on-tablet {
    padding-inline: 34px;
  }

  @include on-desktop {
    padding-inline: 55px;
  }
}

// for img !!!
@mixin image-hover($scale: 1.05, $brightness: 0.8, $transition: 0.3s) {
  transition: transform $transition ease;

  &:hover {
    transform: scale($scale);
    filter: brightness($brightness);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// for swiper!!!
@mixin swiper-bullet($bg, $opacity) {
  background: $bg !important;
  opacity: $opacity !important;
  width: 9px !important;
  height: 9px !important;
  border-radius: 50% !important;
  margin: 0 !important;
  cursor: pointer !important;
  display: inline-block;
}
